<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/style.css">
    <title>Get help here!</title>
  </head>
  <body>
    {{>header}}
    <p>This site was created by Shashank Gaur. It uses data from mapbox.com and darksky.net !</p>
    <br>
    
    <h4>Created by {{name}}</h4>
    {{>footer}}
  </body>
</html>