<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/style.css">
    <title>Help Error</title>
    {{!-- <script src="/js/app.js"></script> --}}

    {{!-- Not going to load js file into this. --}}
  </head>
  <body>
    {{>header}}
    <br>
    {{message}}
    {{>footer}}
    
  </body>
</html>