<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/style.css">
    <title>Welcome to the title page.</title>
    <script src="/js/app.js"></script>
  </head>
  <body>
    {{>header}}
    
    <p>We are always there for your help. Just stay tuned with us and you will know our capabilities.</p>
    <p>The cost of this program is {{cost}}
      <br>Girls die to have sex with me as my sex appeal is {{sexAppeal}}
    </p>
    {{>footer}}
  </body>
</html>